.jumbotron {
    background-color: rgb(255, 166, 0);
    color: black;
    margin-top: 50px;
}
footer {
    padding:  10px 10 px 0 10px;
    background-color: rgb(255, 166, 0);
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
.btn-reserva {
    width: 100%;
}